body{ 
    background-color: rgb(223, 223, 223);
}

.container{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.device{
    width: 500px;
    height: 650px;
    background-color: black;
    border-radius: 50px;
    border: rgb(177, 174, 174) 1px solid;
    display: flex;
    justify-content: center;
}

.application-button{
    width: 100px;
    height: 100px;
    background-color: rgb(241, 79, 79);
    color: white;
}